@{ 
    ViewBag.Title = "The Default Land Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
       @Html.ActionLink("Azure AD Auth","Index","Test")
    </div>
</body>
</html>